$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

.coach-menu-list{
    // max-width: 400px;
    min-width: fit-content;
    // width: 10vw;
    background: $sheenGreen;
    height: 100vh;
}

.coach-menu-list li{
    font-size: 2.25em;
    line-height: 1.25em;
    padding: 10px;
    cursor: pointer;
    
}

.coach-menu-list li:hover{
    background: $mayaBlue;
    color: $white;
    cursor: pointer;
}