$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

.coach-team-form-container{
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid 1px green;
}

.coach-team-form{
    display: flex;
    flex-direction: column;
    border: solid 1px red;
}