$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

/* H1 */
$h1DesktopFS: 3em;
$h1DesktopLH: 1.05em;
$h1PhoneFS: 2em;
$h1PhoneLH: 1.25em;

/* Body */
$bodyDesktopFS: 1em;
$bodyDesktopLH: 1.375em;
$bodyPhoneFS: 1em;
$bodyPhoneLH: 1.25em;


/* H2 */
$h2DesktopFS: 2.25em;
$h2DesktopLH: 1.25em;
$h2PhoneFS: 1.625em;
$h2PhoneLH: 1.15384615em;


.error-view-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: $registrationBlack;
}

.error-view-container h1 {
    font-size: $h1DesktopFS;
    line-height: $h1DesktopLH;
    margin-bottom: 30px;
    padding: 20px 0;
    color: $mayaBlue;
}

.error-view-container button {
    font-size: $bodyDesktopFS;
    line-height: $bodyDesktopLH;
    border: 0;
    padding: 5px 5px;
    min-width: fit-content;
    width: 100px;
    border-radius: 3px;
}

.error-view-container button:hover{
    cursor: pointer;
    border: 1px solid $sheenGreen;
}
