$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

$fontSizeBodyDesktop: 1em;
$lineHeightBodyDesktop: 1.375;

.landing-container {
    background: url('../images/stadium-510716_1920.jpg') center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
}

.landing-buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto auto;
}

.landing-buttons button {
    margin: 10px auto;
    width: 150px;
    font-size: $fontSizeBodyDesktop;
    line-height: $lineHeightBodyDesktop;
    border-radius: 3px;
    border: 0;
    background: $mayaBlue;
    color: $white;
}

.landing-buttons button:hover{
    background: $white;
    color: $registrationBlack;
    border: $sonicSilver 1px solid;
}