$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

$h1DesktopFS: 3em;
$h1DesktopLH: 1.05em;
$h1PhoneFS: 2em;
$h1PhoneLH: 1.25em;

/* Body */
$bodyDesktopFS: 1em;
$bodyDesktopLH: 1.375em;
$bodyPhoneFS: 1em;
$bodyPhoneLH: 1.25em;


/* H2 */
$h2DesktopFS: 2.25em;
$h2DesktopLH: 1.25em;
$h2PhoneFS: 1.625em;
$h2PhoneLH: 1.15384615em;

.landing-header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.landing-header h1{
    padding: 10px 10px;
    font-size: $h1DesktopFS;
    line-height: $h1DesktopLH;
    color: $white;
}

.landing-header h2{
    padding: 10px 10px;
    font-size: $h2DesktopFS;
    line-height: $h2DesktopLH;
    color: $white;
}

.landing-container {
    background: url('../images/stadium-510716_1920.jpg') center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.landing-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto auto;
}

.landing-buttons button {
    margin: 10px auto;
    width: 150px;
    font-size: $bodyDesktopFS;
    line-height: $bodyDesktopLH;
    border-radius: 3px;
    border: 0;
    background: $mayaBlue;
    color: $white;
}

.landing-buttons button:hover{
    background: $white;
    color: $registrationBlack;
    border: $sonicSilver 1px solid;
}