$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

.league-side-menu-container{
    min-width: fit-content;
    width: 10%;
    height: 100vh;

}

.league-side-menu-list{
        background: $sheenGreen;
        width: 100%;
        height: 100%;
        text-align: center;

}

.league-side-menu-item{
    font-size: 2.25em;
    line-height: 1.25em;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.league-side-menu-item:hover{
    background: $mayaBlue;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.league-side-menu-item a:visited{
    color: $registrationBlack;
}