$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;

$h1DesktopFS: 3em;
$h1DesktopLH: 1.05em;
$h1PhoneFS: 2em;
$h1PhoneLH: 1.25em;

/* Body */
$bodyDesktopFS: 1em;
$bodyDesktopLH: 1.375em;
$bodyPhoneFS: 1em;
$bodyPhoneLH: 1.25em;


/* H2 */
$h2DesktopFS: 2.25em;
$h2DesktopLH: 1.25em;
$h2PhoneFS: 1.625em;
$h2PhoneLH: 1.15384615em;


.managed-leagues-card {
    display: flex;
    justify-content: space-between;
    padding: 5px 4px;
    margin: 5px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    min-height: fit-content;
    height: 30px;
    min-width: fit-content;
    width: 95%;
}