$registrationBlack: #000300;
$sheenGreen: #98Ce00;
$white: #FFFFFC;
$sonicSilver: #757780;
$mayaBlue: #6CCFF6;
$offBlack: #32373C;

.league-players-list-container{
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.league-players-list-row {
    padding: 5px 5px;
    border-top: solid 1px $sonicSilver;
    border-bottom: solid 1px $sonicSilver;
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    cursor: pointer;
}

.league-players-list-row:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    border: 1px dashed $mayaBlue;
}